<template>
  <user-layout>
    <template slot="content">
      <v-card>
        <v-card-text class="pb-0">
          <v-form ref="addGroup">
            <p>Agregar grupos</p>
            <v-text-field
                    v-model="group.name"
                    label="Nombre del grupo" />
          </v-form>
        </v-card-text>

        <v-card-actions class="d-flex justify-end">
          <v-btn color="primary" @click="create">
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>

      <v-container class="mt-2">
        <v-layout row wrap>
          <v-flex class="custom-size-col mb-4" v-for="group in groups" :key="group.id" xs12 >
            <v-card @click="goToGroup(group.id)">
              <v-card-text class="card-distubutive">
                <h4>{{ group.name.toUpperCase() }}</h4>
                <v-icon>mdi-arrow-right</v-icon>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

      <simple-modal ref="modal" />
    </template>
  </user-layout>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import UserLayout from "../../../layouts/users/UserLayout";
  import SimpleModal from "../../../components/modals/SimpleModal";

  export default {
    name: "Groups",

    async created() {
      await this.fetchGroups();
    },

    components: {
      SimpleModal,
      UserLayout
    },

    methods: {
      ...mapActions("Groups", ["createGroup", "getAllGroups"]),

      async create() {

        const result = await this.createGroup({
          id: this.user.id,
          token: this.token,
          name: this.group.name,
        });

        this.$refs.modal.active = true;

        if (result.ok) {
          this.$refs.modal.title = "INFO";
          this.$refs.modal.msg = result.data;
        } else {
          this.$refs.modal.title = "ERROR";
          if (typeof result.error === "string") return this.$refs.modal.msg = result.error;
          this.$refs.modal.msg = result.error[0].msg;
        }

        await this.fetchGroups();
        this.$refs.addGroup.reset();
      },

      async fetchGroups() {
        await this.getAllGroups({
          id: this.user.id,
          token: this.token
        });
      },

      async goToGroup(id) {
        this.$router.push(`/group/${id}`);
      }
    },


    computed: {
      ...mapState("Auth", ["token"]),
      ...mapState("User", ["user"]),
      ...mapState("Groups", ["groups"]),
    },

    data() {
      return {
        group: {
          userId: null,
          name: null,
        }
      }
    }
  }
</script>

<style scoped>
  .custom-size-col {
    max-width: 90% !important;
    margin: auto !important;
  }

  .card-distubutive {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>