<template>
  <user-layout>
    <template slot="content">
      <div
          class="base-background image"
          v-if="Group.groupImage"
          :style="createStyleRaw(Group.groupImage.url)" />

      <div v-else class="base-background primary"/>

      <v-tabs background-color="transparent" color="red" centered fixed-tabs>
        <v-tab class="ml-0">Inicio</v-tab>
        <v-tab>Configuracion</v-tab>
        <v-tab>Miembros</v-tab>

        <v-tab-item>
          <publications
                  @fetchPublications="getPublications"
                  :publications="Group.groupPublications" />
        </v-tab-item>

        <v-tab-item>
          <info-group :id="Group.id" @imgGroupUpdated="getPublications"/>
        </v-tab-item>

        <v-tab-item>
         <members />
        </v-tab-item>
      </v-tabs>

    </template>
  </user-layout>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import UserLayout from "../../../layouts/users/UserLayout";
  import InfoGroup from "../../../components/user/group/InfoGroup";
  import Publications from "../../../components/user/group/Publications";
  import Members from "../../../components/user/group/Members";
  import {getGroupMembers} from "../../../modules/groups/actions";

  export default {
    name: "GroupPublications",

    async created() {
      const id = this.$route.params.id;

      await this.getGroupMembers({
        id,
        token: this.token
      });

      const isMember = await this.members.find(member => member.userId === this.user.id);
      if (!isMember) return this.$router.back();

      await this.getPublicationsAndInfoGroup({
        id,
        token: this.token,
      });
    },

    components: {
      Members,
      Publications,
      InfoGroup,
      UserLayout
    },

    methods: {
      ...mapActions("Groups", ["getPublicationsAndInfoGroup", "getGroupMembers"]),

      async getPublications() {
        await this.getPublicationsAndInfoGroup({
          id: this.$route.params.id,
          token: this.token,
        });
      },

      createStyleRaw(url) {
        return `background-image: url(${url})`
      }
    },

    computed: {
      ...mapState("Auth", ["token"]),
      ...mapState("User", ["user"]),
      ...mapState("Groups", ["Group", "members"]),
    },
  }
</script>

<style scoped>
  .image {
    background-size: 100% 100%;
  }

  .base-background {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>