<template>
  <empty-layout>
    <template slot="content">
      <v-toolbar dark color="primary">
        <v-toolbar-title>Cerberus</v-toolbar-title>
      </v-toolbar>

      <v-container class="d-flex align-center min-height-display">
        <v-layout row wrap>
          <v-flex class="text-center" v-if="group">
            <h1>Unirte a un grupo</h1>

            <h2>{{ group.name }}</h2>

            <p class="my-2">Creado por: {{ author.name }}</p>

            <v-btn color="green" dark class="d-block mx-auto mb-2" @click="jointToGroup">
              Unirme al grupo
            </v-btn>

            <v-btn color="red" dark @click="goToMenu">
              Cancelar
            </v-btn>
          </v-flex>


          <v-flex class="text-center" v-else>
            <h1>ESTE GRUPO NO EXISTE</h1>
          </v-flex>


          <v-snackbar v-model="snackbar">
            {{ text }}
            <v-btn color="pink" text @click="closeSnackBar">
              Cerrar
            </v-btn>
          </v-snackbar>

        </v-layout>
      </v-container>
    </template>
  </empty-layout>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import EmptyLayout from "../../../layouts/users/EmptyLayout";

  export default {
    name: "JoinAGroup",

    async mounted() {
      await this.getGroupInfo();
    },

    components: {
      EmptyLayout
    },

    methods: {
      ...mapActions("Groups", ["getGroup", "addMemberToGroup"]),

      async getGroupInfo() {

        const result = await this.getGroup({
          id: this.$route.params.id,
          token: this.token
        });

        this.group = result.data;
        this.author = result.data.user;
      },


      async jointToGroup() {
        const groupId = this.$route.params.id;
        const result = await this.addMemberToGroup({
          groupId,
          token: this.token,
          userId: this.user.id
        });

        if (result.ok) return this.$router.push(`/group/${groupId}`);
        this.showSnackBar(result);
      },


      closeSnackBar() {
        this.snackbar = false;
      },

      showSnackBar(response) {
        this.snackbar = true;
        if (!response.ok) return this.text = response.error;
        this.text = response.data;
      },

      goToMenu() {
        return this.$router.push("/home");
      }
    },

    computed: {
      ...mapState("Auth", ["token"]),
      ...mapState("User", ["user"])
    },

    data() {
      return {
        group: {},
        author: {},
        snackbar: null,
        text: null
      }
    }
  }
</script>

<style scoped>
  .min-height-display {
    min-height: 90vh;
  }
</style>