<template>
  <v-dialog v-model="active" max-width="400">
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>

      <v-card-text>
        {{ msg }}
      </v-card-text>

      <v-card-actions class="d-flex justify-end">
        <v-btn color="red" dark @click="closeMoldal">
          cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "SimpleModal",

    methods: {
      closeMoldal() {
        this.active = false;
      }
    },


    data() {
      return {
        msg: null,
        title: null,
        active: null
      }
    }
  }
</script>

<style scoped>

</style>