<template>
  <user-layout>
    <template slot="content">
      <v-container>
        <v-layout row wrap>
          <v-flex>
          </v-flex>

          <v-btn color="primary" fab fixed bottom right>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-layout>
      </v-container>
    </template>
  </user-layout>
</template>

<script>
  import UserLayout from "../../layouts/users/UserLayout";

  export default {
    name: "Home",

    components: {
      UserLayout
    }
  }
</script>

<style scoped>

</style>