<template>
  <v-navigation-drawer v-model="active" absolute temporary v-if="user !== null">
    <v-list>
      <v-list-item link two-line>
        <v-list-item-content>
          <v-list-item-title class="title"> {{ user.name }}</v-list-item-title>
          <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <router-link to="/profile" class="text-decoration-none" tag="span">
            <v-icon>mdi-account</v-icon>
            Perfil
          </router-link>
        </v-list-item-content>
      </v-list-item>


      <v-list-item>
        <v-list-item-content>
          <router-link to="/home" class="text-decoration-none" tag="span">
            <v-icon>mdi-account-multiple</v-icon>
            Mis grupos
          </router-link>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <router-link to="/home" class="text-decoration-none" tag="span">
            <v-icon>mdi-exit-to-app</v-icon>
            Cerrar sesión
          </router-link>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: "NavigationDrawer",

    methods: {
      goToProfile() {
        this.$router.push("/profile");
      }
    },

    computed: {
      ...mapState("User", ["user"]),
    },

    data() {
      return {
        active: null,
      }
    }
  }
</script>

<style scoped>
  .text-decoration-none {
    text-decoration: none;
  }
</style>