<template>
  <div id="navigationToolbar">
    <v-toolbar color="primary" dark dense>
      <v-app-bar-nav-icon @click="showMenu"/>
      <v-toolbar-title>
        Cerberus
      </v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    name: "NavigationToolbar",

    methods: {
      showMenu () {
        this.$emit("showMenu");
      }
    }
  }
</script>