<template>
  <v-container>
    <v-layout row wrap>
      <v-flex class="mx-4" v-if="group !== null">
        <h2 class="mb-2">Informacion de grupo</h2>
        <h5>Nombre: {{ group.name }}</h5>
        <h5>Creado por: {{ group.user.name }}</h5>
        <h5>Fecha de creacion: {{ group.createdAt | moment("dddd Do MMMM YYYY") }}</h5>

        <hr class="my-4">

        <v-form>
          <h2 class="my-2">Cambiar nombre del grupo</h2>
            <v-text-field
                    label="Nombre del grupo"
                    v-model="editGroup.name"
                    :disabled="disabled" />
            <v-btn
                    :disabled="!disabled"
                    color="yellow"
                    small
                    class="mr-4"
                    @click="enableTextField">
              Editar
            </v-btn>
          <v-btn
                  @click="updateGroup"
                  color="green"
                  dark
                  small
                  :disabled="disabled">
            Guardar
          </v-btn>
        </v-form>


        <v-form>
          <h2 class="my-4">Actualizar foto de grupo</h2>
          <label class="mr-5">
            <input
                    @change="enableUploadButtonAndSetImage"
                    type="file"
                    accept="image/*"
                    class="d-none" />
            <v-icon>mdi-upload</v-icon> Subir una foto
          </label>
          <v-btn color="primary" small :disabled="uploadDisabled" @click="changeImgGroup">
            Guardar
          </v-btn>
        </v-form>

      </v-flex>
    </v-layout>


    <v-dialog v-model="active" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          <p>Cargando</p>
          <v-progress-linear indeterminate color="white" class="mb-0" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar">
      {{ text }}
      <v-btn color="pink" text @click="closeSnackBar">
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: "InfoGroup",

    async created() {
      await this.getInfoGroup();
      this.editGroup.name = this.group.name;
    },

    props: ["id"],

    methods: {
      ...mapActions("Groups", ["getGroup", "updateImageGroup", "updateNameOfGroup"]),

      async getInfoGroup() {
        const response = await this.getGroup({
          id: this.id,
          token: this.token
        });
        this.group = response.data;
      },

      enableUploadButtonAndSetImage(Event) {
        this.imageGroup.groupImage = Event.target.files[0];
        this.uploadDisabled = false;
      },

      enableTextField() {
        this.disabled = false;
      },

      async updateGroup() {
        this.active = true;
        this.editGroup.userId = this.group.user.id;

        const result = await this.updateNameOfGroup({
          id: this.group.id,
          group: this.editGroup,
          token: this.token
        });

        this.showSnackBar(result);
        this.disabled = true;
        this.active = false;
        await this.getInfoGroup();
      },


      BuildFormData(data) {
        const  Data = new FormData();
        for (let key in data) {
          Data.append(key, data[key]);
        }
        return Data;
      },


      showSnackBar(response) {
        this.snackbar = true;
        if (!response.ok) return this.text = response.error;
        this.text = response.data;
      },

      closeSnackBar() {
        this.snackbar = false;
      },

      async changeImgGroup() {
        this.active = true;

        const data = this.BuildFormData(this.imageGroup);

        const result = await this.updateImageGroup({
          data,
          token: this.token,
          id: this.group.id,
        });

        this.active = false;
        this.showSnackBar(result);
        this.$emit("imgGroupUpdated");
      }
    },

    computed: {
      ...mapState("Auth", ["token"])
    },

    data() {
      return {
        group: null,
        disabled: true,
        uploadDisabled: true,
        active: null,
        snackbar: null,
        text: null,

        imageGroup: {
          groupImage: null,
        },

        editGroup: {
          name: null,
          userId: null
        },
      }
    }
  }
</script>

<style scoped>

</style>