<template>
  <div id="members">

    <v-list>
      <v-list-item>
        <v-list-item-content>
          <p class="font-weight-light text-center mb-4">
            Comparte tu link para agregar otros miembros al grupo
          </p>

          <v-text-field
                  outlined
                  :value="genUrlForUserJoin"
                  class=" focus-none" id="url"
                  hint="Link copiado" />

          <div class="d-flex justify-center">
            <v-btn color="green" dark @click="copyLink">
              <v-icon left>mdi-content-copy</v-icon> Copiar link
            </v-btn>
          </div>
        </v-list-item-content>
      </v-list-item>

    </v-list>

      <v-divider></v-divider>
    <v-list>

      <v-subheader>
        Miembros del grupo
      </v-subheader>

      <v-list-item v-for="member in members" :key="member.id">

        <v-list-item-avatar v-if="member.user.avatar === null">
          <v-img src="https://cutt.ly/swsmwb4"/>
        </v-list-item-avatar>

        <v-list-item-avatar v-else>

        </v-list-item-avatar>

        <v-list-item-content>
          <router-link :to="genUserLinkToProfile(member.user.id)" class="text-decoration-none">
            {{ member.user.name }}
          </router-link>
        </v-list-item-content>


        <v-list-item-icon @click="deleteUserFromTheGroup(member.user.id)">
          <v-icon color="red">mdi-close-circle-outline</v-icon>
        </v-list-item-icon>
      </v-list-item>

    </v-list>


    <v-snackbar v-model="active">
      {{ text }}
      <v-btn color="pink" text @click="closeSnackBar">
        Cerrar
      </v-btn>
    </v-snackbar>

  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    name: "Members",

    async mounted() {
      await this.getMembers();
    },

    methods: {
      ...mapActions("Groups", ["getGroupMembers", "deleteMember"]),

      async getMembers() {
        await this.getGroupMembers({
          id: this.$route.params.id,
          token: this.token
        });
      },

      async deleteUserFromTheGroup(id) {
        const result = await this.deleteMember({
          userId: id,
          groupId: this.$route.params.id,
          token: this.token
        });

        this.showSnackBar(result);
        await this.getMembers();
      },

      genUserLinkToProfile(id) {
          return `/profile/${id}`;
      },

      closeSnackBar() {
        this.active = false;
      },

      showSnackBar(response) {
        this.active = true;
        if (!response.ok) return this.text = response.error;
        this.text = response.data;
      },

      copyLink() {
        const input = document.getElementById("url");
        input.focus();
        document.execCommand("selectAll");
        document.execCommand("copy");
      }
    },

    computed: {
      ...mapState("Auth", ["token"]),
      ...mapState("Groups", ["members"]),

      genUrlForUserJoin() {
        return `christophergerardy.me/group/request/join/${this.$route.params.id}`;
      }
    },

    data() {
      return {
        active: null,
        text: null,
      }
    }
  }
</script>

<style scoped>
  .text-decoration-none {
    display: contents;
    text-decoration: none;
  }

  .focus-none:focus {
    outline: none;
  }
</style>