<template>
  <v-container>
    <v-layout row wrap>

      <v-flex xs12>
        <v-card>
          <v-card-text class="pb-0">
            <v-form ref="createPublication">
              <h4>Crear publicacion</h4>
              <v-textarea label="Descripcion" v-model="publication.description"/>

              <label for="camera" class="mr-4">
                <input
                        @change="CameraFile"
                        id="camera"
                        accept="image/*"
                        type="file"
                        capture
                        class="d-none" />
                <v-icon>mdi-camera</v-icon> Tomar una foto
              </label>

              <label for="files">
                <input
                        @change="DeviceFile"
                        id="files"
                        type="file"
                        accept="image/*"
                        class="d-none" />
                <v-icon>mdi-attachment</v-icon> Subir una foto
              </label>

              <p class="mb-0 font-weight-light mt-2">
                *Solo puedes subir una*
              </p>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-btn color="primary" @click="create">
              Publicar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex class="ml-4 mt-4">
        <h4>Publicaciones</h4>
      </v-flex>

      <v-flex class="mx-auto my-2" xs11 v-for="publication in publications" :key="publication.id">
        <v-card>
          <div v-if="publication.publicationsImage">
            <v-img :src="publication.publicationsImage.url" />
          </div>

          <v-card-title>
            <div class="d-flex flex-column">
              <router-link :to="makeUserProfileLink(publication.user.id)" class="subtitle-1 text-decoration-none">
                {{ publication.user.name }}
              </router-link>

              <span class="subtitle-2 font-weight-light">
                {{ publication.createdAt | moment("from", "now") }}
              </span>
            </div>
          </v-card-title>

          <v-card-text>
            <p v-if="publication.description !== 'null'">
              {{ publication.description }}
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="active" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          <p>Cargando</p>
          <v-progress-linear indeterminate color="white" class="mb-0" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar">
      {{ text }}
      <v-btn color="pink" text @click="closeSnackBar">
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    name: "Publications",
    props: ["publications"],

    created() {
      this.publication.userId = this.user.id;
      this.publication.groupId = this.$route.params.id;
    },


    methods: {
      ...mapActions("Groups", ["createPublicacion"]),

      CameraFile(Event) {
        this.publication.img = Event.target.files[0];
      },

      BuildFormData(data) {
        const  Data = new FormData();
        for (let key in data) {
          Data.append(key, data[key]);
        }
        return Data;
      },

      DeviceFile(Event) {
        this.publication.img = Event.target.files[0];
      },

      closeSnackBar() {
        this.snackbar = false;
      },

      showSnackBar(response) {
        this.snackbar = true;
        if (!response.ok) return this.text = response.error;
        this.text = response.data;
      },

      makeUserProfileLink(id) {
        return `/user/${id}`;
      },

      async create() {
        this.active = true;
        const data = this.BuildFormData(this.publication);
        const result = await this.createPublicacion({ data, token: this.token });
        this.active = false;
        this.showSnackBar(result);
        this.$emit("fetchPublications");
        this.$refs.createPublication.reset();
      },
    },

    computed: {
      ...mapState("Auth", ["token"]),
      ...mapState("User", ["user"]),
    },

    data() {
      return {
        active: null,
        snackbar: null,
        text: null,

        publication: {
          userId: null,
          groupId: null,
          description: null,
          img: null,
        }
      }
    }
  }
</script>

<style scoped>

  .text-decoration-none {
    text-decoration: none;
  }
</style>