<template>
  <div id="UserLayout">
    <navigation-toolbar @showMenu="show"/>
    <navigation-drawer ref="menu" />
    <slot name="content" />
  </div>
</template>

<script>
  import NavigationToolbar from "../../components/user/navigation/NavigationToolbar";
  import NavigationDrawer from "../../components/user/navigation/NavigationDrawer";

  export default {
    name: "UserLayout",

    components: {
      NavigationDrawer,
      NavigationToolbar
    },

    methods: {
      show() {
        this.$refs.menu.active = true;
      }
    }
  }
</script>

<style scoped>

</style>