<template>
  <user-layout>
    <template slot="content">
      <div class="primary d-flex justify-center py-4">
        <div class="info-profile">
          <v-img src="https://cutt.ly/swsmwb4" class="border-circle"  max-width="150"/>
          <h1 class="white--text font-weight-light">{{ profile.name }}</h1>
          <h4 class="white--text font-weight-light">{{ profile.email }}</h4>
        </div>
      </div>

      <div class="ml-4 mt-4">
        <h2 class="mb-2">Informacion personal</h2>
        <p>Nombre(s): {{ profile.name }}</p>
        <p>Apellido(s): {{ profile.lastName }}</p>
        <p>Pais: {{ profile.country }} </p>
      </div>
    </template>
  </user-layout>
</template>

<script>
  import { mapState } from "vuex";
  import UserLayout from "../../../layouts/users/UserLayout";

  export default {
    name: "InfoProfile",

    async mounted() {
      const id = this.$route.params.id;

      const response = await this.axios.get(`/group/user/${id}`, {
        headers: { "Authorization": this.token }
      });

      if (response.data.data.id === this.user.id) return this.$router.back();

      this.profile = response.data.data;
    },

    components: {
      UserLayout
    },

    computed: {
      ...mapState("User", ["user"]),
      ...mapState("Auth", ["token"])
    },

    data() {
      return {
        profile: {}
      }
    }
  }
</script>

<style scoped>
  .border-circle {
    border-radius: 50%;
  }

  .info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>