<template>
  <user-layout>
    <template slot="content">
      <div class="primary d-flex justify-center py-4">
        <div class="info-profile">
          <v-img src="https://cutt.ly/swsmwb4" class="border-circle"  max-width="150"/>
          <h1 class="white--text font-weight-light">{{ user.name }}</h1>
          <h4 class="white--text font-weight-light">{{ user.email }}</h4>
        </div>
      </div>


      <v-tabs background-color="transparent" color="red" centered fixed-tabs>
        <v-tab class="ml-0">Informacion</v-tab>
        <v-tab>Tus grupos</v-tab>


        <v-tab-item>
          <div class="ml-4 mt-4">
            <h2 class="mb-2">Informacion personal</h2>
            <p>Nombre(s): {{ user.name }}</p>
            <p>Apellido(s): {{ user.lastName }}</p>
            <p>Pais: {{ user.country }} </p>
          </div>
        </v-tab-item>


        <v-tab-item>
          <v-container class="mt-2">
            <v-layout row wrap>
              <v-flex class="custom-size-col mb-4" v-for="group in groups" :key="group.id" xs12 >
                <v-card @click="goToGroup(group.id)">
                  <v-card-text class="card-distubutive">
                    <h4>{{ group.name.toUpperCase() }}</h4>
                    <v-icon>mdi-arrow-right</v-icon>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-tab-item>
      </v-tabs>
    </template>
  </user-layout>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import UserLayout from "../../../layouts/users/UserLayout";

  export default {
    name: "Profile",

    async created() {
      await this.fetchGroups();
    },

    components: {
      UserLayout
    },

    methods: {
      ...mapActions("Groups", ["getAllGroups"]),

      async goToGroup(id) {
        this.$router.push(`/group/${id}`);
      },

      async fetchGroups() {
        await this.getAllGroups({
          id: this.user.id,
          token: this.token
        });
      },
    },

    computed: {
      ...mapState("User", ["user"]),
      ...mapState("Auth", ["token"]),
      ...mapState("Groups", ["groups"]),
    }
  }
</script>

<style scoped>
  .border-circle {
    border-radius: 50%;
  }

  .info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-size-col {
    max-width: 90% !important;
    margin: auto !important;
  }

  .card-distubutive {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

</style>