<template>
  <v-app>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </v-app>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';

  export default {
    name: "Cerberus",

    created () {
      if (this.$jwt.hasToken()) {
       const { token } = JSON.parse(this.$jwt.getToken()).Auth;

       const user = this.$jwt.decode(token);

       if (user) {
         this.setUser(token);
         this.setLogin(true);
       }
      }
    },

    methods: {
      ...mapMutations("User", ["setUser", "setLogin"]),
    },

    computed: {
      ...mapState("Auth", ["token"]),
    },
  }
</script>


<style>
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>