<template>
  <empty-layout>
    <template slot="content">
      <v-container>
        <v-layout row wrap>
          <v-flex sm12 md4 class="mx-auto">
            <v-card class="card-invisible">
              <v-card-title>
                <h1 class="mx-auto my-4">
                  Cerberus
                </h1>
              </v-card-title>

              <v-card-text>
                <p class="text-center font-weight-300">
                  Una app para la organización de tareas o trabajos que
                  hace más fácil recordarlas y consultarlas
                </p>
                <v-form ref="formLogin">
                  <p class="font-weight-300">
                    Introduce tus datos
                  </p>

                  <v-text-field
                          type="email"
                          v-model="user.email"
                          label="Correo electrónico"
                          :rules="[rules.required]" />

                  <v-text-field
                          type="password"
                          v-model="user.password"
                          label="Contraseña"
                          :rules="[rules.required]" />

                  <router-link to="/" class="mb-4 link">
                    ¿Olvidaste tu contraseña?
                  </router-link>

                  <v-btn block color="primary" large @click="login">
                    Iniciar sesión
                  </v-btn>

                  <p class="text-center mt-5">
                    ¿No tienes una cuenta?
                    <router-link to="/register" class="text-decoration-none">
                      Registrate
                    </router-link>
                  </p>

                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

      <simple-modal ref="modal" />
    </template>
  </empty-layout>
</template>

<script>
  import { mapActions } from 'vuex';
  import EmptyLayout from '../../layouts/users/EmptyLayout';
  import SimpleModal from "../../components/modals/SimpleModal";

  export default {
    name: "Login",

    components: {
      SimpleModal,
      EmptyLayout
    },

    methods: {
      ...mapActions("Auth", ["Login"]),

      async login() {
        if (!this.$refs.formLogin.validate()) return;

        const result = await this.Login(this.user);

        if (!result.ok) {
          this.$refs.modal.active = true;
          this.$refs.modal.title = "Error";
          if (typeof result.error === "string") return this.$refs.modal.msg = result.error;
          this.$refs.modal.msg = result.error[0].msg;
        }
      }
    },

    data() {
      return {
        user: {
          email: null,
          password: null,
        },

        rules: {
          required: value => !!value || 'Campo Requerido',
        }
      }
    }

  }
</script>

<style scoped>
  .font-weight-300 {
    font-weight: 300;
  }

  .link {
    display: block;
    text-align: end;
    text-decoration: none;
  }

  .text-decoration-none {
    text-decoration: none;
  }


  @media screen and (max-width: 720px){
    .card-invisible {
      box-shadow: none;
      background: transparent !important;
    }
  }
</style>