<template>
  <empty-layout>
    <template slot="content">
      <v-container>
        <v-layout row wrap>
          <v-flex sm12 md4 class="mx-auto">
            <v-card class="card-invisible">
              <v-card-title>
                <h1 class="mx-auto my-4">
                  Cerberus
                </h1>
              </v-card-title>

              <v-card-text>
                <p class="text-center font-weight-300 subtitle-1">
                  Crear una cuenta
                </p>
                <v-form ref="formLogin">
                  <p class="font-weight-300">
                    Introduce tus datos
                  </p>

                  <v-text-field
                          v-model="user.name"
                          label="Nombre"
                          :rules="[rules.required]" />

                  <v-text-field
                          v-model="user.lastName"
                          label="Apellido(s)"
                          :rules="[rules.required]"/>

                  <v-text-field
                          v-model="user.country"
                          label="Pais"
                          :rules="[rules.required]" />

                  <v-text-field
                          type="email"
                          v-model="user.email"
                          label="Correo electrónico"
                          :rules="[rules.required]" />

                  <v-text-field
                          type="password"
                          v-model="user.password"
                          label="Contraseña"
                          :rules="[rules.required]" />

                  <v-btn class="mt-4" block color="primary" large @click="register">
                    Crear una cuenta
                  </v-btn>

                  <p class="text-center mt-5">
                    ¿Ya tienes una cuenta?
                    <router-link to="/" class="text-decoration-none">
                      Inicia sesión
                    </router-link>
                  </p>

                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <simple-modal ref="modal" />
      </v-container>
    </template>
  </empty-layout>
</template>

<script>
  import { mapActions } from 'vuex';
  import EmptyLayout from "../../layouts/users/EmptyLayout";
  import SimpleModal from "../../components/modals/SimpleModal";

  export default {
    name: "Register",

    components: {
      SimpleModal,
      EmptyLayout,
    },


    methods: {

      ...mapActions("Auth", ["createAccount"]),

      async register() {
        if (!this.$refs.formLogin.validate()) return;

        const result = await this.createAccount(this.user);

        if (!result.ok) {
            this.$refs.modal.active = true;
            this.$refs.modal.title = "Error";
            if (typeof result.error === "string") return this.$refs.modal.msg = result.error;
            this.$refs.modal.msg = result.error[0].msg;
        }
      }
    },


    data() {
      return {

        user: {
          name: null,
          lastName: null,
          email: null,
          password: null,
          country: null,
        },

        rules: {
          required: value => !!value || 'Campo Requerido',
        }
      }
    }
  }
</script>

<style scoped>
  .font-weight-300 {
    font-weight: 300;
  }

  .link {
    display: block;
    text-align: end;
    text-decoration: none;
  }

  .text-decoration-none {
    text-decoration: none;
  }


  @media screen and (max-width: 720px){
    .card-invisible {
      box-shadow: none;
      background: transparent !important;
    }
  }
</style>